.sobre {
    width: 100%;
    display: flex;
    margin-top: 60px;
    height: 500px;
    padding: 0px;
    gap: 10px;
}

.img-container-sobre {
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.img-container-sobre img {
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.texto-container-sobre {
    width: 100%;
    position: relative;
    text-align: left;
    padding: 10px;
}

.texto-container-sobre h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

.texto-container-sobre a {
    display: block;
    color: rgb(87, 87, 87) !important;
    margin-bottom: 20px;
    font-weight: 500;
}

.texto-container-sobre h2 i {
    color: green;
}

.btn-sobre-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-style: none;
    background: transparent;
    color: #28d318;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
}

.btn-sobre-container i {
    margin-left: 10px;
}